Codeforces/out
Codeforces/.idea
Codeforces/Codeforces.iml

UVa/out
UVa/.idea
UVa/UVa.iml

SPOJ/out
SPOJ/.idea
SPOJ/SPOJ.iml

HackerEarth/out
HackerEarth/.idea
HackerEarth/HackerEarth.iml

TopCoder/out
TopCoder/.idea
TopCoder/TopCoder.iml
